 프로젝트에서 구현해야 할 사항 ]

1.회원제 사이트 구현
--회원 가입
--회원 로그인 & 
SNS 로그인(ajax:json)
--주소검색 API넣기 -가점
--회원 탈퇴
문자 캡챠 적용시 가점(API)

2.게시판 구현
--공지사항 게시판
--자유게시판
--자료실(갤러리)---템플릿아아아아
--파일 다운로드 참조 https://programmingsummaries.tistory.com/85
--검색 기능 추가
--제목에서 검색
--내용에서 검색
--작성자에서 검색
--자기가 작성한 글만 수정 가능하게 처리
최신글 표시 기능 (최신글에 대한 기준은 본인이 정할 것: 하루, 삼일, 일주일 등...)
--댓글 기능 추가
--좋아요 기능 추가
신고 기능 추가(new!)

3.웹소켓을 이용한 채팅 구현 (선택)
기존에 만들어 놓은 채팅을 웹소켓으로 구현
네이버 파파고 API 등을 이용하여 번역 적용시 가점
방을 만들고 하는 채팅이 아니더라도 고객과의 대화방 구현
참고 : https://tocplus.co.kr/?no=no 
참고 : www.atdt01410.net 

--4.모든 코드에는 BootStrap 적용
--5.회사 주소 - 찾아  오기 : 지도 연결 (네이버, 다음.카카오, 구글 맵 중 택1)(API)
--6.관리자 기능
--전체회원 조회
--개별 회원 조회
--회원 검색
회원 로그인 정지
--회원 강제 탈퇴
--게시글 삭제
(기간 정해) 게시글 가장 많이 올린 사람
(기간 정해) 댓글 가장 많이 단 사람


영상
1.로그인(쿠키.튕김)
2.회원가입-- 중복확인 날짜 이메일 주소API 자동 넘어감 
3.로그인후 변화(test로)
4.공지글쓰기 -- edit 보안
5.회원정보 변경 및 삭제(탈퇴시 모든 게시글 삭제)
6. 게시판 기능 - 다운로드 댓글 삭제 좋아요
		프리보드 -상단 공지
8.댓글
9.주소 API
10.관리자 페이지(관리자 모드 삭제 및 변경)
	아이디로 검색후 삭제




다음이 프로젝트임. 이전것들은 과제임!!!! 과제 + 다음
자기가 구현하고 싶은 것 구현하기
← 이전 프로젝트에서 한 [도서관리] 컨버전해도 됨


추가

new 최신글 확인
추천수 확인
댓글 카운팅
소셜로그인
찜목록(글 스크랩)
